<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Halaman 4 - ANFIS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="hero">
  <div class="page-content">

    <h1>Perhitungan ANFIS</h1>
    <p>Masukkan nilai X dan Y untuk menghitung output ANFIS.</p>

<form action="" >
    <!-- FORM INPUT -->
    <form method="POST" class="anfis-form">
      <label>Input X</label><br>
      <input type="number" step="any" name="x" required><br><br>

      <label>Input Y</label><br>
      <input type="number" step="any" name="y" required><br><br>

      
    </form>

    <!-- HASIL -->
    {% if result %}
      <hr>
      <h2>Hasil Perhitungan</h2>
      <p>X = {{ x }}</p>
      <p>Y = {{ y }}</p>
      <p><strong>Output ANFIS = {{ result.final_output }}</strong></p>
    {% endif %}
    
     <button type="submit" class="animated-button" style="background-color: transparent;">
        <span class="text">Hitung ANFIS</span>
        <span class="circle"></span>
      </button>
    <br>
   
</form>

    <!-- TOMBOL KEMBALI -->
    <a href="{{ url_for('index') }}" class="animated-button">
     
      <span class="text">Kembali ke Index</span>
      <span class="circle"></span>

    </a>

  </div>
</body>
</html>
